<style type="text/css">
    #bg, #search-bg {
        background-repeat: no-repeat;
        background-size: 1080px auto;
    }

    #bg {
        background-position: center top;
        padding: 70px 90px 120px 90px;
    }

    #search-container {
        position: relative;
    }

    #search-bg {
        /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 99;
        /* Pull the background 70px higher to the same place as #bg's */
        background-position: center -70px;

        -webkit-filter: blur(10px);
        filter: url('/media/blur.svg#blur');
        filter: blur(50px);
    }

    #search {
        /* Put this on top of the blurred layer */
        position: relative;
        z-index: 100;
        padding: 20px;
        border-radius: 20px 20px 20px;
        /*background: rgba(192,192,192,0.3);*/
        background: rgba(0,0,0,0.1);
    }

    @media (max-width: 600px ) {
        #bg { padding: 10px; }
        #search-bg { background-position: center -10px; }
    }

    #search h2, #search h5, #search input, #search label,#search h5 a { text-align: center; color: #fefefe; font-weight: normal; }
    #search h2 { margin-bottom: 50px }
    #search h5 { margin-top: 70px }
</style>

<div id="bg">
    <div id="search-container">
        <div id="search-bg"></div>
        <div id="search">
            <div >
                <form class="form-horizontal">

                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="firstname">First name</label>
                        <div class="col-sm-10">
                            <input class="form-control" style="background-color: rgba(0,0,0,0.1); border: none;" type="text" ng-model="newuser.firstname">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="lastname">Last Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" style="background-color: rgba(0,0,0,0.1); border: none;" type="text" ng_model="newuser.lastname">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="username">User name</label>
                        <div class="col-sm-10">
                            <input class="form-control" style="background-color: rgba(0,0,0,0.1); border: none;" type="text" ng-model="newuser.username">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="email">E-mail</label>
                        <div class="col-sm-10">
                            <input class="form-control" style="background-color: rgba(0,0,0,0.1); border: none;" type="email" ng-model="newuser.email">
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <label class="col-sm-2 control-label" for="password">Password</label>
                        <div class="col-sm-10">
                            <input class="form-control" style="background-color: rgba(0,0,0,0.1); border: none;" type="password" ng-model="newuser.password">
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" style="float: right"class="btn btn-success" ng-click="registerUser()">Create account</button>
                    </div>

                </form>           
            </div>
        </div>
    </div>
</div>

